<header>
  <div
    class="navbar static flex flex-col sm:flex-row items-center justify-between max-width-client p-16"
  >
    <div class="navbar__left mb-4 sm:mb-0">
      <img class="w-48" src="memberSpotLogo.svg" />
    </div>

    <div class="navbar__right flex items-center justify-end">
      <div>
        <div
          class="flex items-center px-3 py-2 border rounded-lg cursor-pointer"
        >
          <mat-icon fontIcon="search"></mat-icon>
          <input class="flex-grow" placeholder="Filter by name" />
        </div>
      </div>
    </div>
  </div>
</header>
