<ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
  <li class="py-3 sm:py-4">
    <div class="flex items-center justify-between">
      <div class="flex items-center min-w-0">
        <div class="ml-3">
          <p class="font-medium text-gray-900 truncate dark:text-white">
            {{ person.name }}
          </p>
          <p class="text-sm text-green-500 dark:text-green-400">
            Birth Year: {{ person.birth_year }}
          </p>
          <p class="text-sm text-green-500 dark:text-green-400">
            Homeworld: {{ person.homeworld }}
          </p>
          <p class="text-sm text-green-500 dark:text-green-400">
            Terrain: {{ person.terrain }}
          </p>
        </div>
      </div>
    </div>
    <hr />
  </li>
</ul>
